/* Edit these styles */

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.uploader-input {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-container,
.card-wrapper,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  width: 100%;
  max-width: 402px;
  height: 469px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 36px 32px;
}

header h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4f4f4f;
  margin-bottom: 16px;
}

header p {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
  margin-bottom: 30px;
}

.image-container {
  width: 100%;
  max-width: 338px;
  height: 219px;
  background-color: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
  cursor: pointer;
  background-image: url("../img/image.svg");
  background-repeat: no-repeat;
  background-position: center 35.84px;
  justify-content: end;
}

.image-container p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
  margin-bottom: 40px;
}

span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
  margin: 19px 0 22px 0;
}

button {
  color: #ffffff;
  padding: 8px 16px;
  background-color: #2f80ed;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@media (min-width: 550px) {
  .wrapper {
    margin: 0;
    justify-content: center;
    height: 100vh;
  }
}
